








.comment {
  margin-bottom: 1rem;
}








/* Add any additional styling as needed */

.floating-toolbar {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.floating-toolbar span {
  cursor: pointer;
  font-size: 28px;
  padding: 6px 18px;
  position: relative;
  transition: all .2s ease-in-out;
  color:#000;
}
.floating-toolbar span:hover {
  background: #f2f2f2;
  color: #0b0b78;
}
.floating-toolbar-close {
  color: #0b0b78;
  background: #fff;
  top: -15px;
  right: -15px;
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s all ease;
}
.floating-toolbar-close:hover {
  scale: 1.1;
}

.modal-container-reed {
  height: 100vh;
  width: 100vw;
  background: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  top: 0;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content-reed {
  aspect-ratio: 1;
  width: 40%;
  margin: auto;
  background: hsl(0deg 0% 75.88% / 80%);
  box-shadow: 0.9px 0px 0px 0.2px hsl(0deg 2.51% 50.25% / 80%);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-reed {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.color-container-reed {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}
.color-box {
  width: 38px;
  height: 38px;
  border-radius: 100%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  transition: 0.3s all ease;
}
.color-box:hover {
  scale: 1.2;
}

.color-name {
  color: #280f60;
  margin-top: 5px;
}
.btn-submit-reed {
  padding: 14px 36px;
  border-radius: 9px;
  background: #280f60;
  color: #fff;
  font-size: 22px;
  outline: none;
  border: 1px solid #280f60;
  margin-bottom: 20px;
  transition: 0.3s all ease;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
}
.btn-submit-reed:hover {
  background: #482696;
}
.modal-content-reed h1 {
  color: #0b0b78;
}
.comment {
  border: 1px dashed gold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 6px 12px 6px 32px;
  border-radius: 12px;
  margin: 0 2px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.hover-card {
  top: -300px;
  background: #000;
  max-width: 450px;
  max-height: 300px;
  width: 100%;
  position: fixed;
  left: 50%;
  z-index: 100;
  overflow-y: scroll;
  transform: translate(-50%, -50%);
  padding: 15px 20px;
  border-radius: 20px;
  border: 30px solid trasparent;
  color: #000;
  font-style: italic;
  box-shadow: 0 4px 8px #ffe8e8;
  background: #fff;
  background: linear-gradient(180deg,#ffe8e8,#fff);
  transition: 1s all ease;
  transition-delay: 0.5s;
}
.comment:hover > .hover-card {
  top: 30%;
  transition-delay: 0s;
}
.hover-title {
  text-transform: uppercase;
  display: block;
  width: 100%;
  border-bottom: 0.2px solid #0b0b78;
  margin-bottom: 16px;
  font-weight: 900;
  color: #0b0b78;
}

.comment::before {
  content: "  💬  ";
  height: 100%;
  width: 100%;
  padding:0 6px;
  position: absolute;
  left: 0;
  color:'#fff'
}

.text-shadow-reed {
  text-shadow: 0.1px 0.1px #000;
  font-weight: "bolder";
}
.highlight .bold {
  font-family: "Times New Roman", Times, serif;
}
.bold {
  font-weight: bold;
  letter-spacing: 1;
}
.highlight {
  border-radius: 4px;
  padding: 4px;
}
.notes-input {
  width: 90%;
  height: 60%;
  background-color: rgba(255, 255, 255, 0.02);
  border: none;
  color: #000;
  border-radius: 12px;
  padding: 12px;
  font-size: 18px;
  outline: none;
}

/* All the colors on your face */
.gold {
  background: gold;
}
.red {
  background: red;
  color: #fff;

}
.white {
  background: white;
  color: black;
}
.blue {
  background: blue;
  color: #fff;

}
.green {
  background: green;
  color: #fff;

}
.purple {
  background: purple;
  color: #fff;

}
.orange {
  background: orange;
}
.grey {
  background: grey;
}
::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: gold;
}

::selection {
  color: black;
  background: gold;
}


@keyframes fadeInDown {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeInUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeInUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}